.list_container {
    flex-basis: 12%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 250px; */
    background-color: white;
    padding: 8px;
    margin: 0px 17px;
    margin-bottom: 1rem;
    border-radius: 10px;
    /* height: 246px; */
}


.image_wrapper img {
    width: 100%;
    height:80px;
    border-radius: 10px;
}

.footer_section {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: .5rem;
}

.footer_section button {
    background-color: #FF686B;
    padding: 8px 16px;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
}

.footer_section p {
    /* font-weight: 700; */
    font-size: 12px;
    line-height: 12px;
    color: #4136F1;
}