.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.box {}

.header {
    color: rgba(255, 255, 255, 0.63);
    font-weight: 700;
}

.login___container {}

.login {
    margin: 0;
    color: #21BBDB;
}


.wrapper__box {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background: #1B233F;
    padding: 2rem;
    border-radius: 2rem;
    width: 50%;
    margin-top: 3rem;
}


.title__box {
    display: flex;
    justify-content: center;
}

.input__container {
    display: flex;
    border-radius: 8px;
    border: 2px solid #fff;
    margin: 4rem 0;

}


.country__box {
    background-color: #fff;
    padding: 8px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.wrapper__box input {
    flex: 5;
    outline: none;
    border: none;
    padding: 0.8rem;

}

.btn__container {
    display: flex;
    justify-content: center;

}


.btn__container button {
    cursor: pointer;
    background: #FFBB00;
    border-radius: 8px;
    padding: 10px 3rem;
    border: none;
    color: #000000;
    font-weight: 700;

    ;
}

@media only screen and (max-width: 768px) {
    .wrapper {
        z-index: 1;
        width: 100%;

    }

    .country__box {
        padding: 5px;

    }

    .wrapper__box {
        width: 90%;
    }
}